
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.general {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(112, 201, 231);
    padding: 10px 20px;
}

.header span {
    font-size: 1.5em;
    font-weight: bold;
}

.header .links a {
    margin-left: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

article {
    flex: 3;
    padding-right: 20px;
}

.sidebar {
    flex: 1; 
    background-color: rgb(28, 230, 129);
    padding: 20px;
    border-radius: 5px;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.pagination{
    margin-bottom: 10px;
}

.pagination a{
    margin: 0 15px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: rgb(255, 160, 122);
    color: rgb(0, 0, 0);
    padding: 15px 0;
    margin-top: auto;
}
